<template>
  <div :class="$style.{{ camelCase componentName }}">
    <vue-content-block>
      <vue-stack space="64">
        <vue-breadcrumb :items="breadCrumbItems" />

        <vue-text appearance="h1" as="h1">{{ properCase componentName }}</vue-text>
      </vue-stack>
    </vue-content-block>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, useContext, useMeta } from '@nuxtjs/composition-api';
import VueBreadcrumb from '@/components/molecules/VueBreadcrumb/VueBreadcrumb.vue';
import VueText from '@/components/atoms/VueText/VueText.vue';
import VueContentBlock from '@/components/layout/VueContentBlock/VueContentBlock.vue';
import VueStack from '@/components/layout/VueStack/VueStack.vue';

export default defineComponent({
  name: '{{ properCase componentName }}Page',
  components: {
    VueStack,
    VueContentBlock,
    VueBreadcrumb,
    VueText,
  },
  setup() {
    useMeta({ title: '{{ properCase componentName }}' });
    const { app } = useContext();

    const breadCrumbItems = computed(() => [
      { label: app.i18n.t('common.home' /* Home */), href: '/' },
      { label: app.i18n.t('common.{{ properCase componentName }}' /* {{ properCase componentName }} */), href: '/{{filePath}}/{{ dashCase componentName }}' },
    ]);

    return {
      breadCrumbItems,
    };
  },
  head: {},
});
</script>

<style lang="scss" module>
@import '~@/assets/design-system';

.{{ camelCase componentName }} {
  margin-top: $nav-bar-height;
  min-height: 500px;
}
</style>
